# Gitignore for the project : 1.agent-as-k8s-pod-strands
# Local .terraform directories
1.agent-as-k8s-pod-strands/terraform-cost-optimised/.terraform/

# .tfstate files (Contains your infrastructure's current state and secrets)
1.agent-as-k8s-pod-strands/terraform-cost-optimised/*.tfstate
1.agent-as-k8s-pod-strands/terraform-cost-optimised/*.tfstate.*
# Crash log files
1.agent-as-k8s-pod-strands/terraform-cost-optimised/crash.log
1.agent-as-k8s-pod-strands/terraform-cost-optimised/crash.*.log

# Exclude all .tfvars files (Likely to contain sensitive data/secrets)
1.agent-as-k8s-pod-strands/terraform-cost-optimised/*.tfvars
1.agent-as-k8s-pod-strands/terraform-cost-optimised/*.tfvars.json

# Ignore override files
1.agent-as-k8s-pod-strands/terraform-cost-optimised/override.tf
1.agent-as-k8s-pod-strands/terraform-cost-optimised/override.tf.json
1.agent-as-k8s-pod-strands/terraform-cost-optimised/*_override.tf
1.agent-as-k8s-pod-strands/terraform-cost-optimised/*_override.tf.json

# Ignore transient lock info files created by terraform apply
1.agent-as-k8s-pod-strands/terraform-cost-optimised/.terraform.tfstate.lock.info

# Ignore CLI configuration files
1.agent-as-k8s-pod-strands/terraform-cost-optimised/.terraformrc
1.agent-as-k8s-pod-strands/terraform-cost-optimised/terraform.rc

# virtual environment for python dependencies
1.agent-as-k8s-pod-strands/.venv/

# Gitignore for the project : 2.crewai-devops-agent
2.crewai-devops-agent/.venv/**
2.crewai-devops-agent/tests/__pycache__/**