# Local .terraform directories
strands/terraform-cost-optimised/.terraform/

# .tfstate files (Contains your infrastructure's current state and secrets)
strands/terraform-cost-optimised/*.tfstate
strands/terraform-cost-optimised/*.tfstate.*
# Crash log files
strands/terraform-cost-optimised/crash.log
strands/terraform-cost-optimised/crash.*.log

# Exclude all .tfvars files (Likely to contain sensitive data/secrets)
strands/terraform-cost-optimised/*.tfvars
strands/terraform-cost-optimised/*.tfvars.json

# Ignore override files
strands/terraform-cost-optimised/override.tf
strands/terraform-cost-optimised/override.tf.json
strands/terraform-cost-optimised/*_override.tf
strands/terraform-cost-optimised/*_override.tf.json

# Ignore transient lock info files created by terraform apply
strands/terraform-cost-optimised/.terraform.tfstate.lock.info

# Ignore CLI configuration files
strands/terraform-cost-optimised/.terraformrc
strands/terraform-cost-optimised/terraform.rc

# virtual environment for python dependencies
strands/.venv/